*{
    text-decoration: none;
    marrgin: 0px;
    padding: 0p;
}

body{
    margin:0px;
    padding: 0px;
    font-family: 'poppins',sans-serif; 
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 30px;
    font-weight: bold;
    float: left;
    font-family: poppins;
    color: black;
}

.menu {
    float:right;
}

nav{
    width:100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top : 0;
    background: #FFF
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
}

nav ul li {
    float: left;
}

nav ul li a {
    color: rgb(10, 10, 10);
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
.h1 {
    font-family:'Comic Neue';
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 20px;
    color: #00000000;
    width: 100%;
    line-height: 50px;
}

.h2  {
    font-family:'poppins';
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 10px;
    color: #00000000;
    width: 100%;
    line-height: 50px;
}




